---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
    <Row>
        <Col span="4">
            <Card
                    title="Formación en Salud Perinatal"
                    subtitle="Encontrarán oportunidades de actualización para acompañar a las familias, con información científica, actualizada y fehaciente."
                    image={feature01}
                    link="/formacion-fsp"
            />
        </Col>
        <Col span="4">
            <Card
                    title="Formación de Doulas"
                    subtitle="Es un espacio para las familias que deseen recibir un seguimiento personalizado por parte de nuestros profesionales."
                    image={feature01}
                    link="/formacion-fd"
            />
        </Col>
        <Col span="4">
            <Card
                    title="Formación en Asesoría en Lactancia Humana"
                    subtitle="Adquiera habilidades relacionadas con la lactancia humana desde la teoría y la práctica basadas en la evidencia científica."
                    image={feature01}
                    link="/formacion-flh"
            />
        </Col>
    </Row>
</Section>
